<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/galaxies">Galaxies</a>
            <a href="/messiers">Messiers</a>
        </nav>
    </header>
    <main>
            {% for key,val in res.items() %}
                {% if loop.last %}
                    <h1>{{ val['galaxy_name'] }}</h1>
                    <section class="fetch-data">
                    <img src="{{ val['galaxy_map_link'] }}">
                {% endif %}
                <ul>
                    {% for k, v in val.items() %}
                        {% if k not in "galaxy_name" and k not in "galaxy_link" and k not in "galaxy_map_link" and k not in "galaxy_map_path" and v %}
                        <li>{{ k | replace("_", " ") }} : {{ v | replace(",", "")}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
            </section>
    </main>
</body>
</html>